*{
    box-sizing: border-box;
}

body{
    background: #f6f6f6;
    padding-bottom: 30px;
    padding-top: 30px;
}

.calculator{
    max-width: 400px;
    margin: 0 auto;
    border: 2px solid #111;
    border-radius: 5px;
}

.calculator input{
    background: none;
    border: none;
    box-shadow: none;
    width: 100%;
    border-bottom: 2px solid #111;
    padding: 20px;
    text-align: right;
    font-size: 40px;
}

.calculator-buttons{
 padding: 20px;
 display: grid;
 grid-template-columns: 1fr 1fr 1fr 1fr;
 grid-gap: 5px;
}

.calc-button{
    background: rgba(0, 0, 0, 0.5);
    border: 1px solid #111;
    padding: 20px;
    color: #EEE;
    border-radius: 5px;
    font-size: 22px;
    cursor: pointer;
}

.clear{
    background: #3572D8;
    grid-column: span 3;
}

.equally{
    background: #28D060;
    grid-column: span 3;
}